.container {
    margin-top: 50px;
}

.city {
    font-size: large;
    font-weight: 500;
}

.list-group {
    margin-top: 10px;
}

.search-container {
    background-color: rgb(87, 171, 182);
    padding-bottom: 15px;
    padding-top: 10px;
}

.city-name{
    font-weight: 600;
}

.uv-index{
    color: brown;
    font-weight: 625;
}

.date1{
    font-weight: 600;
}

.date2{
    font-weight: 600;
}

.date3{
    font-weight: 600;
}

.date4{
    font-weight: 600;
}

.date5{
    font-weight: 600;
}

button{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}